body {
    background-color: rgb(247, 191, 139);
}
h1 {
    background-color: rgb(156, 139, 139);
    color: burlywood; 
}
.Bild1 {
    float: left;
    margin-right: 40px
}

.Book {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.Book {
    width: 420px;  
    height: 260px;
    box-shadow: 4px 4px 4px 4px grey
}
.Titel {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
